html, body, section, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: none;
}

html {
  overflow: none;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #aaa;
}

aside {
  display: block;
  float: right;
  color: white;
}


section.gameCenter {
  display: block;
  width: 450px;
  height: 100%;
  margin: 0 auto;
}
section.grid {
  width: 100%;
  height: auto;
  background: black;
}

div {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

section.grid:before {
  display: block;
  content: "";
  clear: both;
}

section.grid:after {
  display: block;
  content: "";
  clear: both;
}

.displayed {
  float: left;
  border: 1px solid black;
}

.empty {
  background: yellow;
}

div.apple {
  background: red;
}

div.snake {
  background-image: url(./snake_parts/sprite_2.png);
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-position: -7px -3px;
  background-size: 42px;
}

div.head {
  background-image: url(./snake_parts/sprite_1.png);
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-position: -10px -3px;
  background-size: 43px;
}

div.tail {
  border: 0;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-image: url(./snake_parts/sprite_3.png);
  background-size: 42px;
  background-position: -7px -2px;
}

div.N {

}

div.S {
  transform: rotate(180deg);
}

div.E {
  transform: translate(2%, -1%) rotate(90deg);
}

div.W {
  transform: rotate(270deg);
}

div.clearfix {
  height: 0;
}

div.clearfix:after {
  height: 0;
  display: block;
  content: "";
  clear: both;
}

body {
  text-align: center;
}

section.wholeGame {
  position: relative;
  display: inline-block;
  top: 60px;
  height: 468px;
}

section.game {
  display: block;
  display: block;
  position: absolute;
  width: 450px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: transparent;
}

section.hidden {
  display: none;
}

div#transparency {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 1;
}

section.game div{
  display: block;
  text-align: center;
  background: transparent;
  position: relative;
  top: 147px;
  width: 200px;
  margin: 0 auto;
}

h1 {
  position: relative;
  font-size: 24px;
  margin-bottom: 5px;
  z-index: 1;
}

h2 {
  position: relative;
  font-size: 22px;
  margin-bottom: 20px;
  z-index: 1;
}

strong {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.displayed.head.e {
  /*width: 28px;*/
}
