body {
  position: relative;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}
div {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.displayed {
  float: left;
  border: 1px solid black;
}

.empty {
  background: red;
}

div.apple {
  background: green;
}

div.snake {
  background: yellow;
}

div.clearfix:after {
  height: 0;
  display: block;
  content: "";
  clear: both;
}
