body {
  position: relative;
  top: 200px;
  left: 200px;
}
div {
  display: block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}

div.empty {
  background: red;
  float: left;
  border: 1px solid black;
}

div.full {
  background: yellow;
  float: left;
  border: 1px solid black;
}

div.clearfix:after {
  height: 0;
  display: block;
  content: "";
  clear: both;
}

div.clearfix:before {
  height: 0;
  display: block;
  content: "";
  clear: both;
}
